.navbar{
    width: 100%;
    background-color: #f5f6f7;
}

/* estilos generales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* seccion herro */

.hero{
 min-height: 450px;
 text-align: center;   
}

/* Adaptable presponsiva */


.bordes-redondeados{
    width: 350px;
    border-radius: 50%;
}

.navbar-brand {
    padding-right: 40px;
}
h1 {
    padding: 10px;
}
