.navbar{
    width: 100%;
    padding: 2rem;
    background-color: #f5f6f7;
}

/* estilos generales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* seccion herro */

.hero{
 min-height: 450px;
 text-align: center;   
}

/* Adaptable presponsiva */

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}

.bordes-redondeados{
    width: 400px;
    border-radius: 50%;
}