.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}

/* Adaptable presponsiva */

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}

.bordes-redondeados{
    width: 400px;
    border-radius: 50%;


}